
  
<div class="card-content">
    <div class="card-img">
      <img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?auto=format&fit=crop&w=380&q=80" alt="paisaje">
      <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
      <h3>{{destino.nombre}}</h3>
      <p>
       Servicios
      </p>
      <ul>
        <li *ngFor="let s of destino.servicios">
            <span [ngSwitch]="s">
                <i *ngSwitchCase="'desayuno'" style="color: yellow;">{{s}}</i>
                <i *ngSwitchDefault>{{s}}</i>
            </span>
        </li>
      </ul>
      <a href="#" class="btn-card" (click)="Ir()">Ir!</a>
      <span *ngIf="destino.isSelected()">
          <span ngNonBindable> PREFERIDO</span>
          </span>
          <a [routerLink]="['/destino', position]">Ver Detalle</a>
      </div>
  </div>


